@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

body {
	background-color: palegoldenrod;
}
.LOTR {
	font-family: "Cormorant Unicase", serif;
	font-size: 2rem;
}
p {
	font-family: "Press Start 2P", cursive;
	font-size: 1.2rem;
}
